:host{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    display:block;
    background:white;
    padding: 25px;
}

.complete{
    color:#ff69b4;
    border-color:#ff69b4;
    border-radius: 5px;
    
}

.completed-task{
    text-decoration:line-through;

}

ol{
    padding-inline-start:0;
}
.add{
    width:100%;
    padding:7px;
    background-color:#ff1493;
    color: white;
    border-radius:5px;
    font-size:13px;
}

.delete{
    border:none;
    font-size: 16px;
}

.todo-task{
    flex:1;
}
li{
    display:flex;
}

input{
    width:100%;
    padding:8px;
    border-radius:4px;
    font-size:13px;
}